<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="cth"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
            <connectionTimeoutMs>10000</connectionTimeoutMs>
            <requestTimeoutMs>10000</requestTimeoutMs>
        </http>
        <batchMaxItems>512</batchMaxItems>
        <batchTimeoutMs>5000</batchTimeoutMs>
        <dropRatioOnRetry>0</dropRatioOnRetry>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME:-local},level=%level,cid=%X{correlationId:-none}</pattern>
            </label>
            <message>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

</configuration>
